.row.bg-dark
	.container
		#jelou.col-sm-12
			.d-flex.justify-content-center
				h3.text-light.mt-5.mb-3.text-center.borderTitle Sobre mí
			p.text-light.mb-5.font-about
				|Hola Mi nombre es Gilberto Gómez estudie ingenieria en sistemas computacionales en el instituto de estudios universitarios.
				|Cada día dedico una parte de mi tiempo para seguir aprendiendo sobre JavaScript y otras tecnologías como React Native, React, Vue.js, Python.
				|¿Tienes un proyecto en el que te gustaría que trabajara? O qué tal solo una charla amistosa.