.col-sm-12
	div.d-flex.justify-content-center
		h3.text-dark.mt-5.mb-5.text-center.borderTitle Sobre mí
	p.text-justify
		|¡Hola! Mi nombre es Gilberto Gómez estudie ingenieria en sistemas computacionales en el instituto de estudios universitarios en puebla. 
		| Actualmente trabajo en EDUCAPP® como programador.
		|Cada día dedico una parte de mi tiempo para seguir aprendiendo sobre JavaScript y otras tecnologías como React Native, React y Vue.js.
		|¿Tienes un proyecto en el que te gustaría que trabajara? ¿O qué tal solo una charla amistosa? escríbeme un correo electrónico a jose.gilberto.gomez@gmail.com
div
	br