div.modal#contacto
	div.modal-content.light-blue.darken-4
		a(href="#!" class="icon-cross right cerrar modal-action modal-close waves-effect")
		div.row
			div.col.s12.center.pad-top
				h4.white-text.center Contrátame
				a(href="mailto:jose.gilberto.gomez@gmail.com" target="_blank")
					span.margen.icon-mail4 
				div.white-text
					h5.mail jose.gilberto.gomez@gmail.com
				a(href="https://twitter.com/blanko_gomez" target="_blank")
					span.margen.icon-twitter3
				div.white-text 
					h5 @blanko_gomez
