#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Contacto
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        .mensajes
        form#form
          .form-group
            input#nombreContacto.form-control(type="text" name="Name" aria-describedby="emailName" placeholder="Nombre" autocomplete="off")
            small#emailName.form-text.text-muted 
          .form-group
            input#emailContacto.form-control(type="email" name="Email" aria-describedby="emailHelp" placeholder="Correo" autocomplete="off")
            small#emailHelp.form-text.text-muted
          .form-group
            textarea#comentarioContacto.form-control(rows='5' name="Message" placeholder="Comentario")
          .form-group
            .col-xs-12
              #recaptcha(data-token='')
          button.btn.btn-primary.sendmail.g-recaptcha(type='submit' data-sitekey="6LdzJl8jAAAAAIv60NzaK95ViFLPw5EbasV2tHgJ" name='submit' data-expired-callback="onExpire" data-callback='onsubmit' disabled) Enviar