div.col.s12.l12
	span.center
		h3.white-text#demos Demos
div.col.s12.m4.fadeIn1.opacity
	div.card.large.hoverable
		div.card-image
			img(src="./public/img/uno.jpg", alt="#")
			span.card-title.red-text Juego Dos
		div.card-content
			p Una copia del juego de cartas llamado UNO, desarrollado con la libreria Jquery.Aún no está terminado.
		div.card-action
			a.waves-effect.waves-light.blue.lighten-3.btn-large.black-text(href="http://gilbertogomez.github.io/gamedos/" target="_blank") ver Demo
div.col.s12.m4.fadeIn1.opacity
	div.card.large.hoverable
		div.card-image
			img(src="./public/img/angular.jpg", alt="#")
			span.card-title.red-text Demo SPA
		div.card-content
			p Pequeño ejemplo de lo que es una Single Page Application (SPA) desarrollado con Angular, Chart.js y Bootstrap.
		div.card-action
			a.waves-effect.waves-light.blue.lighten-3.btn-large.black-text(href="http://gilbertogomez.github.io/angular/#/" target="_blank") ver Demo
div.col.s12.m4.fadeIn1.opacity
	div.card.large.hoverable
		div.card-image
			img(src="./public/img/lp.jpg", alt="#")
			span.card-title.red-text Landing Page
		div.card-content
			p Ejemplo de una landing Page que hice para IEXE desarrollado con Bootstrap.
		div.card-action
			a.waves-effect.waves-light.blue.lighten-3.btn-large.black-text(href="http://gilbertogomez.github.io/landingpage/" target="_blank") ver Demo