.col-sm-12.col-md-4.mb-3
	.card.h-100
		.p-2
			img.card-img-top.img-fluid.img-thumbnail(src="./public/img/uno.jpg", alt="dos")
		.card-body
			h5.card-title Juego Dos
			p.card-text
				| Una copia del juego de cartas llamado UNO, desarrollado con la libreria Jquery.
			a.btn.btn-primary(href='http://gilbertogomez.github.io/gamedos/') ver demo
.col-sm-12.col-md-4.mb-3
	.card.h-100
		.p-2
			img.card-img-top.img-fluid.img-thumbnail(src="./public/img/prototipo.jpg", alt="dos")
		.card-body
			h5.card-title Plantilla
			p.card-text
				| Una plantilla básica responsive, las imagenes son generadas con la libreria holder.js
				|
			br
			a.btn.btn-primary(href='https://gilbertogomez.github.io/demo') ver demo
.col-sm-12.col-md-4.mb-3
	.card.h-100
		.p-2
			img.card-img-top.img-fluid.img-thumbnail(src="./public/img/react.jpg", alt="react")
		.card-body
			h5.card-title React y API Marvel
			p.card-text
				| Ejemplo de la API de Marvel usando la libreria REACT.
			a.btn.btn-primary(href='https://gilbertogomez.github.io/react') ver demo
