.row
	.col-sm-12.col-md-4.mb-3
		.card.h-100
			.p-2
				img.card-img-top.img-fluid.img-thumbnail(src="./public/img/uno.webp" alt="juego dos" loading="lazy")
			.card-body
				h5.card-title Juego Dos
				p.card-text
					| Una copia del juego de cartas llamado UNO, desarrollado con la libreria Jquery.
			.card-footer
				a.btn.colorBtn(href='https://gilbertogomez.mx/dos/' target='_blank') ver demo
	.col-sm-12.col-md-4.mb-3
		.card.h-100
			.p-2
				img.card-img-top.img-fluid.img-thumbnail(src="./public/img/prototipo.webp" alt="plantilla" loading="lazy")
			.card-body
				h5.card-title Plantilla
				p.card-text
					| Una plantilla básica responsive, las imagenes son generadas con la libreria holder.js
			.card-footer
				a.btn.colorBtn(href='https://gilbertogomez.github.io/demo' target='_blank') ver demo
	.col-sm-12.col-md-4.mb-3
		.card.h-100
			.p-2
				img.card-img-top.img-fluid.img-thumbnail(src="./public/img/react.webp", alt="api marvel react" loading="lazy")
			.card-body
				h5.card-title React y API Marvel
				p.card-text
					| Ejemplo de la API de Marvel usando la libreria REACT.
			.card-footer
				a.btn.colorBtn(href='https://gilbertogomez.github.io/react' target='_blank') ver demo
.row
	.col-sm-12.col-md-4.mb-3
			.card.h-100
				.p-2
					img.card-img-top.img-fluid.img-thumbnail(src="./public/img/lp.webp" alt="landing page" loading="lazy")
				.card-body
					h5.card-title Demo
					p.card-text
						| Ejemplo de un landing Page que hice para IEXE desarrollado con Bootstrap.
				.card-footer
					a.btn.colorBtn(href='https://gilbertogomez.mx/landingpage/' target="_blank") ver demo