div.col.s12.l12
	span.center
		h3.white-text Educación
	div.center#educacion
		div.principal
			div.inicio
				p Hola Mundo
			div.ocultar(id="1")
				p 1988
		div.principal
			div.inicio
				p IEU Universidad
			div.ocultar(id="2")
				p 3 años
		div.principal
			div.inicio
				p Platzi Cursos
			div.ocultar(id="3")
				p 2015