div.col-sm-12
	div.d-flex.justify-content-center#edu
		h3.text-light.mt-5.mb-5.text-center.borderTitle Educación
ul.timeline
	li.timeline-item.bg-white.rounded.ml-3.p-4.shadow
		.timeline-arrow
		h2.h5.mb-0 Instituto de Estudios Universitarios
		span.small.text-gray
			i.mr-1
			| 2006 – 2009
		p.text-small.mt-2
			| Licenciado en Ingeniería en Sistemas Computacionales
	li.timeline-item.bg-white.rounded.ml-3.p-4.shadow
		.timeline-arrow
		h2.h5.mb-0 Platzi
		span.small.text-gray
			i.mr-1
			| Julio 2015
		p.text-small.m-0
			| Curso Profesional de Frontend
		p.text-small.m-0
			| Curso de Angular JS
		p.text-small.m-0
			| Curso de HTML5 y CSS3
		p.text-small.m-0
			| Curso de Javascript y JQuery
		p.text-small.m-0
			| Curso de Responsive Design