// Timeline
div.col-sm-12
	div.d-flex.justify-content-center
		h3.text-light.mt-5.mb-5.text-center.borderTitle Experiencia
ul.timeline
	li.timeline-item.bg-white.rounded.ml-3.p-4.shadow
		.timeline-arrow
		h2.h5.mb-0 EDUCAPP®
		span.small.text-gray
			i.mr-1
			| ​​​11/03/2016 – Actualmente
		p.text-small.mt-2
			| Actualmente trabajo en EDUCAPP® como programador.
			| Actualizando la plataforma ,creando nuevos modulos.
	li.timeline-item.bg-white.rounded.ml-3.p-4.shadow
		.timeline-arrow
		h2.h5.mb-0 SIBEI Programador Python
		span.small.text-gray
			i.mr-1
			| ​​​16/05/2016 – 31/10/2016
		p.text-small.mt-2
			| Instalación configuración y desarrollo de un módulo de facturación electrónica CFDI en un
			|	sistema ERP(ERPNEXT), utilizando el lenguaje de programación Python.
	li.timeline-item.bg-white.rounded.ml-3.p-4.shadow
		.timeline-arrow
		h2.h5.mb-0 Ideas Domesticas S.A. de​ C.V.​​
		span.small.text-gray
			i.mr-1
			| ​​15/07/2013 - 15/05/2016
		p.text-small.mt-2
			| Soporte técnico, Mantenimiento Preventivo y correctivo, Clonación de discos duros,
			|	respaldo de información, configuración de Outlook, Base de datos SQL, configuración de
			| Routers. Manejo de Windows Server 2003.Soporte a usuarios en punto de venta.
			| Monitoreo y Control de cámaras de seguridad IP.
	li.timeline-item.bg-white.rounded.ml-3.p-4.shadow
		.timeline-arrow
		h2.h5.mb-0 H. Ayuntamiento​ de Puebla​ ( Prácticas Profesionales )
		span.small.text-gray
			i.mr-1
			| ​08/08/2012 - 18/01/2013
		p.text-small.mt-2
			| Prácticas Profesionales en Secretaría de Administración y Tecnologías de la información
			| Soporte técnico, Mantenimiento Preventivo, Instalación de antivirus institucional, Cambio de
			| periféricos, Diagnóstico de fallas. ​Instalación de redes.
	li.timeline-item.bg-white.rounded.ml-3.p-4.shadow
		.timeline-arrow
		h2.h5.mb-0 SEP​ ( Servicio Social )
		span.small.text-gray
			i.mr-1
			| ​07/01/2009 - 07/07/2009
		p.text-small.mt-2
			| Servicio social realizado en la dirección general de operación escolar teniendo como
			|	actividad principal la realización de un proyecto de administración de información
			| desarrollado en PHP y MYSQL.