div.col.s12.l12
	span.center
		h3.white-text Experiencia
	div.center.experiencia
		div.principal
			div.inicio
				p SEP Servicio S.
			div.ocultar(id="4")
				p 6 meses
		div.principal
			div.inicio
				p SATI Practicas
			div.ocultar(id="5")
				p 6 meses
		div.principal
			div.inicio
				p Idea Interior
			div.ocultar(id="6")
				p 2 años
		div.principal
			div.inicio.nuevo
				p SIBEI
			div.ocultar.fix(id="7")
				p 5 meses