<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	link(type="text/css" rel="stylesheet" href="./public/css/index.css")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title CV
div.navbar-fixed
	nav
		div.nav-wrapper.grey.darken-4
			a.brand-logo(href="/" ) CV
			ul.right.hide-on-med-and-down#nav-mobile
				li
					a(href="#demos") Demos
				li
					a.modal-trigger.waves-effect(href="#contacto") Contacto
			ul#slide-out.side-nav
				li
					a(href="#demos") Demos
				li
					a.modal-trigger.waves-effect(href="#contacto") Contacto
			a.button-collapse(href='#' data-activates="slide-out")
				i.medium.material-icons view_headline
body

	div.modal#contacto
		div.modal-content.light-blue.darken-4
			h4.white-text.center Contrátame
			div.row
				div.col.s12.center
					a(href="mailto:jose.gilberto.gomez@gmail.com" target="_blank")
						span.margen.icon-mail4 
					div.white-text 
						h5 Escríbeme a jose.gilberto.gomez@gmail.com
					a(href="https://twitter.com/blanko_gomez" target="_blank")
						span.margen.icon-twitter3
					div.white-text 
						h5 @blanko_gomez
					div.modal-footer.light-blue.darken-4
						a(href="#!" class="icon-cross cerrar modal-action modal-close waves-effect")
	
	div.row#main
		div.col.s12.m6.l3.center
			img.border.circle.responsive-img(src="./public/img/demo.jpg",alt="#")
		div.col.s12.m6.l5.center
				h2 Gilberto Gomez
				h4 Frontend Developer
		div.col.s12.l4
			div.card-panel.light-blue.darken-4.margin.hoverable
				span.white-text Apasionado por el desarrollo web, amante de la tecnología. Siempre estoy buscando una oportunidad para aprender cosas nuevas y adquirir nuevas habilidades.
	div.row.grey.darken-1
		include exp.pug
		include edu.pug
	div.row.black
		include skills.pug
	div.row.grey.darken-3
		include demos.pug
footer.black
	div.row 
		div.col.s12
			h5.center.white-text  Sígueme en
		div.col.s12.center
			a(href="https://twitter.com/blanko_gomez" target="_blank")
				span.margen.icon-twitter3
			a(href="https://facebook.com" target="_blank")
				span.margen.icon-facebook3
script(type="text/javascript" src="./public/js/index.js")
script(type="text/javascript" src="./public/js/materialize.js")
