<!DOCTYPE html>
html(lang="es")
head
	meta(charset='UTF-8')
	link(rel='icon' type='image/x-icon' href='public/img/icon.ico')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='Hola mi nombre es Gilberto Gómez soy programador Front End.Llevo trabajando como desarrollador más de 5 años en diferentes tecnologías como javascript,php,css,html,bootstrap,jquery python.Tienes una idea un proyecto mandame un correo.')
	meta(name='robots' content='index, follow')
	meta(name='keywords' content='Desarrollador,FrontEnd,freelance,gilberto gomez')
	link(type='text/css' rel='stylesheet' href='public/css/index.css')
	title Gilberto Gómez Desarrollador Front-End
	body
		nav.navbar.navbar-expand-lg.nav.navbar-light.color1
			button.navbar-toggler.notout(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNavDropdown.collapse.navbar-collapse.justify-content-center
				ul.navbar-nav
					li.nav-item
						#navhelou.nav-link.text-white Hello
					li.nav-item
						#navportafolio.nav-link.text-white Portafolio
					li.nav-item
						#naveducacion.nav-link.text-white Educación
					li.nav-item
						#navexperiencia.nav-link.text-white Experiencia
					li.nav-item
						a.nav-link.text-white(href='#' data-toggle='modal' data-target='#exampleModal') Contacto
		#main
			.wraperText
				img.mt-5.flex.auto-m(src="public/img/mi.webp" alt="gilberto gómez")
				h1.text-dark.text-center Gilberto Gómez
				h2.text-dark.text-center Desarrollador Frontend.
				div.col-sm-12
					div.d-flex.justify-content-center.text-center
						h4.text-dark Desarrollemos algo increible juntos.
		include about.pug
		.color1
			div.col-sm-12
				div.d-flex.justify-content-center#portafolio
					h3.text-light.mt-5.mb-5.text-center.borderTitle.borderColor Portafolio
			include demos.pug
		.row.bg-dark
			.container
				include edu.pug
			.container
				include exp.pug
		include contacto.pug
		.row.color1
			.container
				.col.d-flex.justify-content-around.mt-3
					a(href='https://twitter.com/blanko_gomez' target='_blank')
						img(src='/public/img/TwitterIcon.svg' alt='twitter' width='50px' height='50px')
					a.nav-link.text-white(href='#' data-toggle='modal' data-target='#exampleModal')
						img(src='/public/img/mailicon.svg' alt='twitter' width='50px' height='50px')
				.col.d-flex.justify-content-center.mb-4.text-light HTML5 | CSS3 | JavaScript | PHP | Python
		script(rel='preload' src='public/js/jquery.js')
		script(rel='preload' src='public/js/bootstrap.min.js')
		script(src='public/js/index.js')
		script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer)