<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
	link(rel="icon" type="image/x-icon" href="public/img/icon.ico")
	link(type="text/css" rel="stylesheet" href="public/css/index.css")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title Gilberto Gomez Front-End
	nav.navbar.navbar-expand-lg.nav.color1
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarNavDropdown.collapse.navbar-collapse.justify-content-center
			ul.navbar-nav
				li.nav-item
					a.nav-link.text-white(href='#portafolio') Portafolio
				li.nav-item
					a.nav-link.text-white(href='#' data-toggle="modal" data-target="#exampleModal" ) Contacto
	body
		div#main
			div.wraperText
				img.mt-5(src="public/img/mi.jpg")
				h1.text-dark.text-center Gilberto Gómez
				h2.text-dark.text-center Desarrollador Frontend.
				div.col-sm-12
					div.d-flex.justify-content-center.text-center
						h4.text-dark#portafolio Desarrollemos algo increible juntos.
		.row.bg-dark
			div.col-sm-12
				div.d-flex.justify-content-center
					h3.text-light.mt-5.mb-5.text-center.borderTitle Portafolio
			include demos.pug
		.row
			.container
				include about.pug
		.row.bg-dark
			.container
				include edu.pug
			.container
				include exp.pug
		include contacto.pug
		.row.color1
			.container
				.col.d-flex.justify-content-around.mt-3
					a(href="https://twitter.com/blanko_gomez" target="_blank")
						span.icon-twitter3
					a(href="mailto:jose.gilberto.gomez@gmail.com" target="_blank")
						span.icon-mail4 
				small.col.d-flex.justify-content-center.mb-4.text-light HTML5 | CSS3 | JavaScript | FrontEnd | PHP
script(src="public/js/jqueryv341.js")
script(src="public/js/bootstrap.min.js")