.likes(id="Likes")
	.titulo #{t}
	.row
		.col-md-9
			<span class="peliculas">&#xe603;</span>
			<span class="fut">&#xe601;</span>
			<span class="ajedrez">&#xe03b;</span>
			<span class="musica">&#xe602;</span>
			<span class="games">&#xe600;</span>