div.col.s12.l12
	span.center
		h3.white-text Conocimientos
	div.row.center-align
		div.col.s12.pad
			object.pad-right
				embed.circle(src="./public/img/javascript.svg")
			object.pad-right
				embed(src="./public/img/html5.svg")
			object.pad-right
				embed(src="./public/img/css3.svg")
		div.col.s12.pad
			object.pad-right
				embed(src="./public/img/react.svg")
			object.pad-right
				embed(src="./public/img/jquery.svg")
			object.pad-right
				embed(src="./public/img/python.svg")
		div.col.s12.pad
			object.pad-right
				embed.circle(src="./public/img/bootstrap.svg")
			object.pad-right
				embed(src="./public/img/laravel.svg")
			object.pad-right
				embed(src="./public/img/django.svg")


				