div.contacto(id="Contacto")
	div.correo
		a(href="mailto:jose.gilberto.gomez@gmail.com" target="_blank") Correo
	div.face
		a(href="http://facebook.com" target="_blank") Facebook
	div.twet
		a(href="http://twitter.com" target="_blank") twitter
