@font-face {
	font-family: 'likes';
	src:url('../fonts/icomoon.eot?-etyqoi');
	src:url('../fonts/icomoon.eot?#iefix-etyqoi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-etyqoi') format('woff'),
		url('../fonts/icomoon.ttf?-etyqoi') format('truetype'),
		url('../fonts/icomoon.svg?-etyqoi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

letras(pixel)
	font-size pixel
	font-weight bold
	text-align center
	
esencial(color,alto,ancho)
	background color
	height alto
	width ancho
p
	margin 10
	padding 10
	width auto

.jumbotron
	margin-bottom 0
	margin-top 50px
	
.foto
	width 180px
	heigth 80px
	border 3px solid black
	left 100px
	
.imagen
	margin 0
	padding-right 20%
	display block
	position relative
	float right
		
.navbar
	margin 0
		
.exp
	background #394BE2
	position relative
	padding 30px
	width 100%
	height auto
	display block
	text-align center
	margin 0
		
	.titulo
		color black
		font-family verdana
		font-size 45px
		font-weight bold 
		margin-bottom 20px
		text-align center
		
	.principal
		margin-top 0px
		border-radius 50%
		esencial(white,200px,200px)
		display inline-block
		position relative
		margin 10px
		overflow hidden
		letras(40px)
		&:hover
			
			.ocultar
				display inherit
				border-radius 50%
				esencial(#58AAAF,200px,200px)
				top -144px
				overflow hidden
				position relative
				
				animation hola 5s
				-moz-animation hola 5s
				-webkit-animation hola 5s
					
				p
					padding 50px 0 0 0
					color black


	.inicio				
		p
			margin 0px
			letras(30px)
			padding 20px
			padding-top 40px
			
	.ocultar
		display none
		
.likes
	background #FFFFFF
	position relative
	padding-top 30px
	width 100%
	height auto
	overflow hidden
	display inline-block
	margin-top 0px
	
	.titulo
		color black
		font-family verdana
		font-size 45px
		font-weight bold 
		margin-bottom 20px
		padding-bottom 20px
		text-align center
		
	.center
		text-align center


	.peliculas
		padding-left 20px
		font-family "likes"
		font-size 90px
		color black
		font-weight bold
		text-decoration none
		padding-right 80px
						
		&:hover
			color blue
						
				

	.musica
		font-family "likes"
		font-size 90px
		color black
		font-weight bold
		text-decoration none
		padding-right 80px
					
		&:hover
			color #642EFE
						
						
	.ajedrez
		font-family "likes"
		font-size 90px
		color black
		font-weight bold
		text-decoration none
		padding-right 80px
					
		&:hover
			color #F3F781
						
						
	.games
		font-family "likes"
		font-size 90px
		color black
		font-weight bold
		text-decoration none
		padding-right 80px
					
		&:hover
			color purple
						
						
	.fut
		font-family "likes"
		font-size 90px
		color black
		font-weight bold
		text-decoration none
		padding-right 80px
					
		&:hover
			color #ACFA58
.skills
	position relative
	padding-top 30px
	width 100%
	height auto
	overflow hidden
	display block
	margin-top 0px
	text-align center
	background-color #394BE2

	.titulo
		color black
		position relative
		font-family verdana
		font-size 45px
		font-weight bold 
		margin-bottom 20px
		display inline-block
	
	.javascript
		height 30px
		width 50%
		margin 10px
		
	.php
		height 30px
		width 50%
		margin 10px
		
	.html5
		height 30px
		width 50%
		margin 10px
		

	.css3
		height 30px
		width 50%
		margin 10px
.center
	background transparent
	
		
.demos
	background grey
	position relative
	padding-top 30px
	width 100%
	height auto
	overflow hidden
	display block
	margin-top 0px
		
	.titulo
		color black
		font-family verdana
		font-size 45px
		height auto
		font-weight bold 
		margin-bottom 20px
		padding-bottom 20px
		text-align center
	
.contacto
	background #000000
	color white
	font-family likes
	text-align center
	font-size 40px
	
	a 
		display none

	.correo
		display inline-block

		&:before
			
			display block
			padding-left 40px

			content "\e604"

	
	.face
		display inline-block
		margin 20px

		&:before
			display inline-block

			content "\e606"
			
	.twet
		display inline-block
		margin 20px
		
		&:before
			display inline-block

			content "\e607"

.img-thumbnail
	position relative
	top 20px

.row
	padding 20px
	
.thumbnail
	border 10px

.center
	text-align center
		
.progress
	display inline-block
	border 1px solid black
	
.progress-bar
	line-height 30px
		
.progress-bar-info
	background-color black
	
.progress-bar-success
	background-color #01DF74
	font-weight bold
	color black

.progress-bar-warning
	background-color #DA81F5
	color black
	font-weight bold

@keyframes hola
	to{
		transform rotatey(0deg) 
	}
	from{
		transform rotatey(200deg) 
	}
	
@media screen and (max-width: 1000px)

	.imagen
		padding 0
		margin 30px
		float: right !important;
	
@media screen and (max-width: 1000px)

	span 
		font-size 10px
		
@media screen and (max-width: 480px)

	.exp
		.principal
			letras(39px)
			
	.container
		display inline-block
		text-align center
	.imagen
		padding-right 15%
		margin 0
		
	h1
		margin-left 40px
	p
		margin-left 40px

		
@media screen and (max-width: 368px)

	.imagen
		padding-right 5%
		margin 0 auto
		
@media screen and (max-width: 350px)

	.skills
		.titulo
			font-size 35px
	.exp
		.titulo
			font-size 35px
	.demos
		.titulo
			font-size 35px
			
	.likes
		.titulo
			font-size 35px
			
	.contacto
		font-size 40px