div.col.s12.l12
	span.center
		h3#experiencia Experiencia
	div.center
		div.principal
			div.inicio
				p SEP Servicio S.
			div.ocultar(id="3")
				p 6 meses
		div.principal
			div.inicio
				p SATI Practicas
			div.ocultar(id="4")
				p 6 meses
		div.principal
			div.inicio
				p Idea Interior
			div.ocultar(id="5")
				p 2 años