div.exp(id="Exp")
	div.titulo #{d}
	div.principal
		div.inicio
			p Hola Mundo
		div.ocultar(id="1")
			p 1988
	div.principal
		div.inicio
			p IEU Universidad
		div.ocultar(id="2")
			p 3 años
	div.principal
		div.inicio
			p SEP Practicas
		div.ocultar(id="3")
			p 6 meses
	div.principal
		div.inicio
			p SATI practicas
		div.ocultar(id="4")
			p 6 meses
	div.principal
		div.inicio
			p Idea Interior
		div.ocultar(id="5")
			p 2 años