<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	link(type="text/css" rel="stylesheet" href="./lib/materialize.css")
	link(type="text/css" rel="stylesheet" href="./lib/index.css")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title CV
div.navbar-fixed
	nav
		div.nav-wrapper.blue.darken-3
			a.brand-logo(href="#" ) CV
			ul.right.hide-on-med-and-down#nav-mobile
				li
					a(href="#demos") Demos
				li
					a(href="#experiencia") Experiencia
				li
					a(href="#") Contacto
				li
					a(href="#") Gustos
body
	div.row
		div.col.s12.m4.l3.center
			img.border.circle.responsive-img(src="./public/img/demo.jpg",alt="#")
		div.col.s12.m4.l5.center
				h2 Gilberto Gomez
				h4 Front-End Developer
		div.col.s12.m4.l4
			div.card-panel.light-blue.darken-1.margin
				span.white-text Apasionado de la tecnología y el mundo del Frontend. Geek de nacimiento, todo el dia estoy aprendiendo algo nuevo,me encantan los retos.
					
	div.row.cyan.lighten-1
		include ../lib/exp.jade
		include ../lib/edu.jade
	div.row.blue.lighten-4
		include ../lib/skills.jade
	div.row.indigo.lighten-2
		include ../lib/demos.jade
footer.black
	div.row
		div.col.s12.l12.center
			span.white-text 
script(type="text/javascript" src="public/js/index.js")
script(type="text/javascript" src="lib/materialize.js")

	