<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(type="text/css" rel="stylesheet" href="./public/css/m.css")
	link(type="text/css" rel="stylesheet" href="./public/css/index.css")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title CV
div.navbar-fixed
	nav
		div.nav-wrapper.grey.darken-4
			a.brand-logo(href="/" ) CV
			ul.right.hide-on-med-and-down#nav-mobile
				li
					a(href="#demos") Demos
				li
					a.modal-trigger.waves-effect(href="#contacto") Contacto
			ul#slide-out.side-nav
				li
					a(href="#demos") Demos
				li
					a.modal-trigger.waves-effect(href="#contacto") Contacto
			a.button-collapse(href='#' data-activates="slide-out")
				i.medium.material-icons view_headline
body
	div.modal.modal-fixed-footer#contacto
		div.modal-content.black
			h3.white-text.center Contacto
			div.row
				div.col.s12.align
					a(href="mailto:jose.gilberto.gomez@gmail.com")
						span.margen.icon-mail4 
					p.align Escríbeme a jose.gilberto.gomez@gmail.com
				div.col.s12.align
					a(href="https://twitter.com/blanko_gomez")
						span.margen.icon-twitter3
					p.align mandame un tweet @blanko_gomez
		div.modal-footer
			a(href="#!" class="icon-cross modal-action modal-close waves-effect waves-green btn-flat ")
	div.row#main
		div.col.s12.m6.l3.center
			img.border.circle.responsive-img(src="./public/img/demo.jpg",alt="#")
		div.col.s12.m6.l5.center
				h2 Gilberto Gomez
				h4 Frontend Developer
		div.col.s12.l4
			div.card-panel.light-blue.darken-4.margin.hoverable
				span.white-text Apasionado por el desarrollo web, amante de la tecnología. Siempre estoy buscando una oportunidad para aprender cosas nuevas y adquirir nuevas habilidades.
	div.row.grey.darken-1
		include ../lib/exp.jade
		include ../lib/edu.jade
	div.row.black
		include ../lib/skills.jade
	div.row.grey.darken-3
		include ../lib/demos.jade
footer.black
	div.row 
		h5.center.white-text  Sígueme en
		div.col.s4.l4.center
			a(href="https://twitter.com/blanko_gomez")
				span.margen.icon-twitter3
		div.col.s4.l4.center
			a(href="https://facebook.com")
				span.margen.icon-facebook3
script(type="text/javascript" src="./public/js/index.js")
script(type="text/javascript" src="./public/js/materialize.js")
