div.likes(id="Likes")
	div.titulo #{t}
	div.row.center  
		div.col-sm-12.col-md-12.col-lg-12
			<span class="peliculas">&#xe603;</span>
			<span class="fut">&#xe601;</span>
			<span class="ajedrez">&#xe03b;</span>
			<span class="musica">&#xe602;</span>
			<span class="games">&#xe600;</span>