div.likes(id="Likes")
	div.titulo #{t}
	div.row
		div.col-md-8.col-lg-9.cent
			<span class="peliculas">&#xe603;</span>
			<span class="fut">&#xe601;</span>
			<span class="ajedrez">&#xe03b;</span>
			<span class="musica">&#xe602;</span>
			<span class="games">&#xe600;</span>