@import 'nib'

@font-face
  font-family 'contacto'
  src url("../font/icomoon.eot?-etyqoi")
  src url("../font/icomoon.eot?#iefix-etyqoi") format('embedded-opentype'), url("../font/icomoon.woff?-etyqoi") format('woff'), url("../font/icomoon.ttf?-etyqoi") format('truetype'), url("../font/icomoon.svg?-etyqoi#icomoon") format('svg')
  font-weight normal
  font-style normal
.navbar
  position fixed
  z-index 999
  width 100%
.flex
  display flex
.auto-m
  margin 0 auto
h1
  font-size: 3em;
h2
  font-size: 2.5em;
h4
  font-size: 2em;
a:hover
  text-decoration: none !important
nav
  ul
    li
      &:hover
        background #2196f3

.nav-link
  cursor: pointer;
  font-size: 1.1em;

.iconos
  font-size 25px
  color #fff

.icon-cross
  font-family contacto
  color #f00
  font-size 30px !important
  &:before
    content "\e901"
  
.cerrardemo
  top 0
  position absolute !important
  display flex !important
  width 100%
  left 0
  padding 20px
  flex-direction row-reverse
  
.cerrar
  position absolute !important
  
.align
  align-items center
  display flex
  color #fff
  font-size 25px

.margen
  margin-right 20px

.icon-mail4
  font-family contacto
  color #fff
  font-size 50px !important
  &:before
    content "\e900"

.icon-facebook3
  font-family contacto
  color #fff
  font-size 50px !important
  &:before
    content "\e802"

.icon-twitter3
  font-family contacto
  color #fff
  font-size 50px !important
  &:before
    content "\e803"

.brand-logo
  margin-left 30px

.card-title
  font-weight bold !important
  font-size 30px !important
  background #d9d9d9eb
  border-radius 5px
  padding-left 5px

.row
  margin 0 !important

footer
  padding 0 !important
  display flex
  justify-content center
  align-items center

.center
  span
    font-size 16px

.card-panel
  span
    font-size 16px !important
    font-family verdana !important

.frase
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;

.border
  border 4px solid #1e88e5

.margin
  margin-top 25px !important

.principal
  margin-top 0px
  -webkit-border-radius 50%
  border-radius 50%
  background #fff
  height 200px
  width 200px
  display inline-block
  position relative
  margin 10px
  overflow hidden
  font-size 40px
  font-weight bold
  text-align center
  &:hover
    .ocultar
      display inherit
      border-radius 50%
      background #2196f3
      height 200px
      width 200px
      top -150px
      overflow hidden
      position relative
      animation hola 5s
      p
        padding 0px
        margin 0
        position relative
        top 50px
        color #000
  .inicio
    p
      margin 0px
      font-size 30px
      font-weight bold
      text-align center
      padding 20px
      padding-top 40px
  .ocultar
    display none

.pad
  padding-bottom 15px !important

.pad-right
  padding-right 40px !important

.fix
  top -200px !important
#main
  display flex
  position relative
  width 100%
  height 600px
  align-items center
  &::after
    content: "";
    background: url('../img/clement-h-544786-unsplash.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
.wraperText
  color white
  align-items center
  justify-content center
  display inline-block
  position relative
  width 100%
  img
    border-radius 50%
    border 2px solid #0e4369
    width 200px
    height 200px
  p
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    margin 0px
  span
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin 0px

.borderTitle
  border-bottom: 3px solid #2196F3;
  padding-bottom: 1px;

.borderColor
  border-color:#343a40 !important;

.nuevo
  display flex
  height 100%
  justify-content center
  align-items center
  p
    margin 0 !important
    padding 0!important
    width 100%
    
#rollIn
  animation-duration 4s

#slideInRight
  animation-duration 4s

.color1
  background #1976D2
.color2
  background #2196F3
.color3
  background #607D8B
.color4
  background #BBDEFB

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@keyframes hola {
  to {
    transform: rotatey(0deg);
  }
  from {
    transform: rotatey(200deg);
  }
}

@media only screen and (max-width: 750px)
  .card-img-top 
    height: 55vw

@media only screen and (max-width: 450px)
  
  .icon-cross
    font-size 20px !important
  .modal .modal-content 
    padding 11px !important

@media only screen and (max-width: 430px)
  .mail
    font-size 1.34rem !important

@media only screen and (max-width: 360px)

  .mail
    font-size 18px !important
    width 80%
    height 60px
    display inline-block
    word-wrap break-word

textarea {
  resize: none;
}

nav ul li:hover {
  background: #0745f3eb!important
}

.nav-item{
  background: #15416c;
  border-radius: 5px;
  padding: 0px 5px;
  margin-right: 10px;
}

.font-about
  font-size: 1.2em

.img-thumbnail 
    padding: 0.45rem !important;
    background-color: #fff;
    border: 2px solid #dbdbdb !important;
    border-radius: 0.25rem;
    max-width: 100%;

.card-footer
  background white !important
  display flex
  justify-content end

.colorBtn 
  background: #15416c;
  border: 0;
  color: #fff;
  padding: 13px;

.colorBtn:hover
  background: #185abcf2;
  color: #fff;

@media only screen and (max-width: 768px)
  .nav-item
    margin-bottom 10px
    display flex
    justify-content center
    align-items center

  .navbar-nav
    width 120px

  .navbar-toggler
    margin-bottom: 10px;
    border: 1px solid #15416c !important
    outline: none !important